<% provide(:title, 'Forgotten password') %>

<div class="container-fluid form-container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <h1>Forgotten password</h1>
      </div>
    </div>
  </div >

  <div class="row">
    <div class="col-12">
      <%= render 'email_form' %>
    </div>
  </div>
</div>

