<% provide(:title, 'Post article') %>
<% provide(:form_url, articles_path(@author)) %>
<% provide(:button_text, 'Post article') %>

<article class="row">
  <div class="col-12">
    <%= render 'form' %>
  </div>
</article>

