<% provide(:title, 'Edit topic') %>
<% provide(:form_url, topic_path(@topic)) %>
<% provide(:button_text, 'Update topic') %>

<div class="container-fluid form-container">
  <div class="row">
    <div class="col-12">
      <%= render 'form', topic: @topic %>
    </div>
  </div>
</div>

