<% provide :title, 'Topics' %>

<div class="row">
  <div class="col-12">
    <div id="topics-list" class="row">
      <%= render @topics %>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center">
          <div id="infinite-scrolling">
            <%= will_paginate @topics, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

