<% provide :title, "Topic: #{@topic.name}" %>

<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-center">
      <%= content_tag :h1, "Topic: #{@topic.name}" %>
    </div>
  </div>
  <div class="col-12">
    <ul id="articles-list" class="list-group">
      <%= render @articles %>
    </ul>
  </div>
  <div class="col-12">
    <div class="d-flex justify-content-center">
      <div id="infinite-scrolling">
        <%= will_paginate @articles, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
      </div>
    </div>
  </div>
</div>

