<% provide(:title, 'Models') %>

<div class="row">
  <div class="col-12">
    <h1>Models</h1>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-12">
    <ul class="list-group-item">
      <% @models.each do |model| %>
        <% plural_name = model.name.pluralize %>
        <div class="row">
          <div class="col-4">
            <%= link_to plural_name, eval("admin_#{plural_name.downcase}_path"),
                        class: 'btn btn-primary' %>
          </div>
          <div class="col-4 offset-4">
            <div class="row">
              <div class="col-6">
                <div class="d-flex h-100 justify-content-end align-items-center">
                  <%= link_to "New #{model.name}", 
                              eval("new_admin_#{model.name.downcase}_path"),
                              class: 'btn btn-primary' %>
                </div>
              </div>
              <div class="col-6">
                <div class="d-flex h-100 justify-content-start align-items-center">
                  Count: <%= model.count %>
                </div> 
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <ul>
  </div>
</div>

