<% provide(:title, 'Sign up') %>
<% provide(:form_url, signup_path) %>
<% provide(:button_text, 'Sign up') %>

<div class="container-fluid form-container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <h1>Sign up</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= render 'form', user: @user %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <span>
          Already have an account? <%= link_to 'Log in', login_path %>
        </span>
      </div>
    </div>
  </div>
</div>

