$font-stack: "Century Old Style", Times, serif;

$footer-height: 142px;
$negative-footer-height: -142px;

$primary-color: white;
$primary-inverse-color: #404040;

$secondary-color: #c33cbf;
$dark-secondary-color: #b036ac;
$darker-secondary-color: #892a84;
$light-secondary-color: #f9ebf9;
$danger-color: red;

$light-grey-color: #fbfbfb;
$darker-light-grey-color: #d9d9d9;
$slightly-darker-light-grey-color: #f2f2f2;

$bs-primary-color: #007bff;
$bs-focus-color: #d1d2ff;
$bs-light-grey-color: #ced4da;

$thumbnail-height: 608px;

