/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "tree";
@import "utilities/variables";

html {
  height: 100%;
}

body {
  height: 100%;
  padding-top: 6rem; // position containers below header
  font-family: $font-stack;
  color: $primary-inverse-color;
}

main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto $negative-footer-height; /*
                                           * the bottom margin is the negative
                                           * value of the footer's height
                                           */
}

footer, .push {
  height: $footer-height; /* .push must be the same height as footer */
}

.debug_dump {
  display: block;
  padding: 10px;
  margin: 10px 0;
  font-size: 13px;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

a {
  &, &:hover {
    color: $dark-secondary-color;
  }

  &:active {
    color: $darker-secondary-color;
  }
}

.form-container {
  width: 100%;
  background-color: $light-grey-color;
  border-radius: 1rem;

  & > .row {
    padding: .75rem;

    &:last-child > .col-12 {
      margin-bottom: .4rem;
    }
  }
}

@include media-breakpoint-up(md) {
  .form-container {
    width: 75%;
  }
}

@include media-breakpoint-up(lg) {
  .form-container {
    width: 50%;
  }
}

