@import "utilities/variables";

p#content {
  font-size: 1.5rem;

  &::first-letter {
    font-size: 250%;
  }
}

article form {
  width: 100%;

  input {
    border: none !important;
    padding: none !important;
  }

  textarea#content-field {
    font-size: 1.5rem;
    min-height: 3rem;
  }
}

#title-field {
  font-size: 2.5rem;
  text-align: center;
  margin: 1rem 0;
}

#thumbnail-filename {
  height: 3rem;
  font-size: 2rem;
  margin: 0;
}

#thumbnail-container {
  width: 100%;
  height: $thumbnail-height;
  overflow: hidden;
  border: .1rem solid $bs-light-grey-color;
  border-radius: .5rem;
  margin-bottom: 3rem;

  label[for=article_thumbnail] {
    width: 100%;
    height: 100%;
  }

  img {
    max-width: 100%;
    padding: .2rem;
  }
}

.image-container {
  width: 100%;
  padding: .8rem;
  border: .1rem solid $bs-light-grey-color;
  border-radius: .5rem;
}

input#article_thumbnail {
  display: none;
}

