@import "utilities/variables";
@import "utilities/mixins";

@mixin header-gradient() {
  /* Permalink - use to edit and share this gradient: */
  /* http://colorzilla.com/gradient-editor/#ffffff+50,c33cbf+51 */
  background: $primary-color; /* Old browsers */
  background: -moz-linear-gradient(-45deg, $primary-color 50%,
                                           $secondary-color 50%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, $primary-color 50%,
                                              $secondary-color 50%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, $primary-color 50%,
                                      $secondary-color 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$primary-color',
                                                     endColorstr='$secondary-color',
                                                     GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

header {
  border-bottom: 3px solid $secondary-color;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  #title {
    margin: 0;

    a {
      font-size: 1.4rem;
      color: $primary-inverse-color;

      &:hover, &:active {
        text-decoration: none;
      }
    }
  }

  nav.nav .nav-link {
    border-radius: 0;
  }
}

@include media-breakpoint-down(sm) {
  header {
    background-color: $secondary-color;
    border-bottom: .5em solid $dark-secondary-color;
    border-top: .2em solid $dark-secondary-color;
    border-left: .2em solid $dark-secondary-color;
    border-right: .2em solid $dark-secondary-color;

    #title a {
      color: $primary-color;
      font-weight: bold;
    }

    .dropdown-toggle {
      #header-dropdown-text {
        display: none;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  header {
    @include header-gradient;
  }
}

