// Place all the styles related to the PasswordResets controller here.
#forgotten-password-form-container {
  background-color: $light-grey-color;
  border-radius: 1rem;

  & > .row {
    padding: .75rem;
  }
}

