<% provide(:form_url, admin_user_path(@user)) %>
<% provide(:button_text, 'Apply changes') %>

<div class="w-50 container-fluid form-container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center text-center">
        <h1>Edit user<br><%= @user.full_name %></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= render 'form', user: @user %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <span>
          <%= link_to 'Back to index page', admin_users_path %>
        </span>
      </div>
    </div>
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <span>
          <%= link_to 'View information', admin_user_path(@user) %>
        </span>
      </div>
    </div>
  </div>
</div>

