<h1>All users</h1>
<%= will_paginate @users, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<ul id="pagination-items">
  <%= render @users %>
</ul>
<%= will_paginate @users, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<%= link_to 'New user', new_admin_user_path %>

