<% provide(:form_url, admin_users_path) %>
<% provide(:button_text, 'Create a new user') %>

<h1>Create a new user</h1>
<%= render 'form', user: @user %>
<%= link_to 'Back to index page', admin_users_path %>

